<article id="ejs" class="container">
  <h1>
    <a href="<%=link%>" target="_blank"><%=title%></a>
  </h1>
  <p><%=description%></p>
</article>
<br>
<div id="logo-node"></div>
<br>
<button id="presioname" class="boton">Presioname</button>
<script>
  document.querySelector('#presioname').onclick = function() {
    alert('Haz presionado el boton JS desde EJS')
  }

  //var nombre = 'EJS'; No es posible declarar variables y usarlas con EJS
  // las variabls deben venir de el metodo que ejecuta la vista
</script>

<p>Hola <%=name%></p>

<article class="container">
  <h2> Estaciones del año en Mexico </h2>
<ul>
  <% for(let i=0; i<seasons.length; i++){ %>
      <div class="item">
        <h3><%=seasons[i][0]%></h3>
        <li><%=seasons[i][1][0]%></li>
        <li><%=seasons[i][1][1]%></li>
        <li><%=seasons[i][1][2]%></li>
      </div>
  <% } %>
</ul>
</article>
